.yes-button {
    color: green

}
.yes-button:hover {
    cursor:pointer;
}

.cancel-button {
    color: red;
}

.cancel-button:hover {
    cursor: pointer;
}

.delete-rev-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

