.error {
color: red
}

.star-on {
 color: yellow;
 border: none;
 background-color: transparent;
cursor: pointer;

}

.star-off {
    color: lightgrey;
    border: none;
    background-color: transparent;
   cursor: pointer;

}

.review-form-post {
    height: auto;
    max-height: 100vh;
    /* overflow-y: auto; */
    /* height: 1000px; */
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-modal-container {
    padding-top: 15px;
}

.edith2 {
    display: flex;
    align-items: center;
    font-size: medium;
    
    /* margin-right: 30px; */
}

/*
.submit-yes {
    background-color: rgb(196, 75, 75);
    padding: 8px 10px;
    border: 1px solid black;
    color: white;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

/*
.submit-no {

} */

.w-100 {
    width: 450px;
    height: 75px;
}

.review-author  {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.author {
    font-weight: 700;
    display: flex;
}

.disclaimer {
    font-size: smaller;
}
.review_form {
  padding-left: 18px;
  padding-right: 18px;
}

.cancel-button {
    margin-bottom: 10px;

}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

.star-rating {
 padding-bottom: 10px;
}

.image {
    box-shadow: 10px 10px 10px rgb(122, 119, 119);
    height: 280px;
    margin-top: 20px;
}

.image-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.image-title-edit {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}

.author {
    font-size: small;
}