.error {
color: red
}

.star-on {
 color: yellow;
 border: none;
 background-color: transparent;
cursor: pointer;

}

.star-off {
    color: lightgrey;
    border: none;
    background-color: transparent;
   cursor: pointer;

}

.review-form-post {
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.review-form-post > * {
    margin: 0px;
}
.post-btn {
    display: flex;
    justify-content: center;
    font-size: 12px;
    background-color: #e68cfc;
    padding: 5px;
    border-radius: 40px;
    width: fit-content;
}
/* .review-modal-container {
    padding-top: 15px;
    border-radius: 7px;
} */

.edith2 {
    display: flex;
    align-items: center;
    font-size: medium;

}


.w-100 {
    width: 450px;
    height: 75px;
}

.review-author  {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.author {
    font-weight: 700;
    display: flex;
}

.disclaimer {
    font-size: smaller;
}
.review_form {
  padding-left: 18px;
  padding-right: 18px;
}

.cancel-button {
    margin-bottom: 10px;

}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

.star-rating {
 padding-bottom: 10px;
}

#review-product-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#review-product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.review-image {
    box-shadow: 10px 10px 10px rgb(122, 119, 119);
    height: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.image-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.image-title-edit {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}

.author {
    font-size: small;
}

@media screen and (max-width: 768px) {
    .search-bar {
      width: 100px;
      height: 5px;
  }
  }
