.Carousel {
    width: 600px;
}

#cart-button {
    position: absolute;
    width: 100px;
    align-self: flex-end;
    z-index: 1;
}

.heart-button-big {
    display: flex;
    height: fit-content;
    position: absolute;
    right: 5px;
    top: 40px;
    z-index: 1;
}

#product-details-main {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    background-color: #19191c;
}



#product-details-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin: 10px auto;
}

.product-information {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.product-information > * {
    margin: 10px;
}

#product-details-information {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-around;

}

.product-details {
    display: flex;
    width: 100%;
}

.product-details > * {
    margin: 0px 5px 0px 0px;
    align-self: flex-start;
}

.seller-actions {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.action-button {
    margin: 10px;
    font-size: large;
    font-weight: 400;
    box-shadow: 1px 2px 2px lightgrey;
    border: solid 1px;
    border-radius: 5px;
    background-color: darkgrey;
}

.purchase-button {
    display: flex;
    flex-direction: column;
}


.back-button {
    position: relative;
    left: 7%;
    width: fit-content;
    color: #b00bf4;
}

.product-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropbtn, .shipbtn {
    background-color: #d3d3d3;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }

.dropbtn:hover, .dropbtn:focus, .shipbtn:hover, .shipbtn:focus {
background-color: #e68cfc;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content, .shipping-dropdown {
    display: none;
    position: relative;
    min-width: 160px;
    z-index: 1;
    background-color: #ececec;
  }

.show {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.reviews-stats {
    display: flex;
    align-items: center;;
}

.stat {
    padding: 0px 10px;
    color: #e68cfc;
}
