#product-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 5px;
}

.form-text {
    font-family: 'Arimo', sans-serif;
    font-family: 'Source Serif 4', serif;
}

#product-form-heading {
    margin: 5px;
}

#product-form-heading > * {
    color:#b00bf4;
}

.product-input {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}

#product-name-input {
    width: 50%;
}

#description-input {
    height: 70%;
}

#cost-input {
    width: 15%;
}

#category-input {
    width: 20%;
}

#returns-policy-input {
    width: 70%;
    height: 60%;
    display: flex;
}


.input-radio {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}



#days-input {
    width: 10%;
}

.radio-button {
    accent-color: #b00bf4;
}
#returns-policy-input:focus, #category-input:focus, #cost-input:focus, #description-input:focus, #product-name:focus, #days-input:focus, #product-name-input:focus, #image-input:focus {
    box-shadow:
    0 0 5px 1px #fff,  /* inner white */
    0 0 3px 1px #e68cfc, /* middle pink */
    0 0 3px 1px #b00bf4; /* outer purple */
}

.product-form-restraint {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 5px;
}


#product-form-submit {
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 400;
    border: solid 1px;
    border-radius: 5px;
    align-self: center;
    transition: 0.2s ease;
}

#product-form-submit:hover {
    box-shadow:
    0 0 10px 3px #fff,  /* inner white */
    0 0 4px 3px #e68cfc, /* middle pink */
    0 0 4px 3px #b00bf4; /* outer purple */
    transform: translateY(10px);
}

#submit-area {
    display: flex;
    justify-content: center;
    margin: 1%;
}

@media(min-width: 200px) and (max-width: 768px) {

    #product-form {
        align-items: center;
    }

    #product-form-input-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        text-align: center;
    }

    .product-form-restraint {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    #product-name-input {
        width: 50%;
        text-align: center;
    }

    #description-input {
        height: 100%;
        width: 70%;
    }

    #cost-input {
        width: 15%;
    }

    #category-input {
        width: 20%;
    }

    #returns-policy-input {
        width: 70%;
        height: 60%;
        display: flex;
    }

    .input-radio {
        display: flex;
    }

    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


/* HTML: <div class="loader"></div> */
#form-container {
    position: relative;
}

.loader {
    position: absolute;
    bottom: 8%;
    left: 50%;
    width: 80px;
    aspect-ratio: 1;
    --c:#E68CFC 98%,#0000;
    background:
      radial-gradient(50% 70% at 50% 120%, var(--c)) top,
      radial-gradient(70% 50% at -20% 50%, var(--c)) right,
      radial-gradient(50% 70% at 50% -20%, var(--c)) bottom,
      radial-gradient(70% 50% at 120% 50%, var(--c)) left;
    background-size: 100% 50.1%,50.1% 100%;
    background-repeat: no-repeat;
    -webkit-mask: radial-gradient(circle 5px,#0000 90%,#000);
    animation: l9 1.5s infinite linear;
  }
  @keyframes l9 {
    100%{transform: rotate(1turn)}
  }

.loader-text {
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 1.5rem;
    color: #b00bf4;
    font-family: 'Arimo', sans-serif;
    font-family: 'Source Serif 4', serif;
}
