/* NAVIGATE MAIN CONTAINER */
.nav-main-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;

}

/* ******* */

/*  LOGO  */
.logo-main-cont{
  display: flex;
  flex-direction: row;
  align-content: center;
}
.logo-img {
  border-radius: 100%;
  height: 100px;
  width: 200px;

  cursor: pointer;
}

/* ******* */
.nav-cat-comp-cont{
  align-self: center;
}
.nav-cat-main-cont {
  font-weight: 100;
  cursor: pointer;
  border: none;
}
.cat-dropdown {
  position: absolute;
  cursor: pointer;
  z-index: 4;
}

.nav-cat-main-cont {
  display: flex;
  flex-direction: row;
  font-weight: 200;
  cursor: pointer;
  border: none;
  gap: 5px;

}
.nav-cat-main-cont:hover {
  box-shadow: 0 3px 5px #e68cfc;
  border: none;
}
.cat-dropdown {
  position: absolute;
  cursor: pointer;
  background-color: #ffffff;
  padding: 5px;
  color: #222222;
  border: 1px solid #222222;
  z-index:4;
  width:150px;
  height: 229px;
  overflow: hidden;
}
/*  CATEGORIES NAV CONT */
.nav-cat-text-cont{
  padding:10px;
  border-bottom: 1px solid gray ;
  font-weight: 200;
  z-index: 5;
}

.nav-cat-text-cont:hover{
  padding:8.5px;
  border-bottom: 1px solid gray ;
  color:#b00bf4;

}

/* ******* */


.profile-dropdown {
  position: absolute;
  width: 150px;
  color: #222222;
  margin-left: 0px;
  padding-bottom: 8px;
  cursor: pointer;
  border: 1px solid #222222;

}
/* ******* */

/* SEARCH BAR  */
.search-bar{
  width:320px;
  padding: 15px;
  border-radius: 100px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: center;
}
.nav-search-main-cont{
  display: flex;
  flex-direction: row;
}

.nav-search-main-cont input{
  border: 1px solid #919191;
  box-shadow: 0 3px 0px #e68cfc; ;
}
/* ******* */


.cat-dropdown {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATE MAIN CONTAINER */
