.profile-bttn-main-cont {
  cursor: pointer;
  color: #535053;
  font-weight: 100;
  font-size: small;
  border-radius: 50%;

}

.profile-bttn-main-cont:hover {
  box-shadow: 0 3px 5px #e68cfc;
}

.pb-quad-three {
  margin-top: 5px;
}

.pb-quad-one .blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

.profile-bttn-main-cont > button {
  border: none;
  background-color: white;
  font-size: large;
  border-radius: 50%;
  cursor: pointer;
}


/* Changes to the User and Logout buttons to remove default styling */

#user-hello {
  cursor: default;
}


#logout-button {
  background-color: #F5F5F5;
  border: none;
  border-radius: 15px;
  line-height: 1.5rem;
}

#logout-button:hover {
  background-color: #f5f5f5;
  box-shadow: 0 3px 5px #e68cfc;
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.modal-item {
  cursor: pointer;
}
