.profile-bttn-main-cont {
  cursor: pointer;
  color: #535053;
  font-weight: 100;
  font-size: small;
  /* box-shadow: 0 3px 5px #e68cfc; */
}

.profile-bttn-main-cont:hover {
  box-shadow: 0 3px 5px #e68cfc;
}

.pb-quad-three {
  margin-top: 5px;
}

.pb-quad-two {
  display: flex;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  width: 150px;
  text-decoration: underline 1px;
  color: #222222;
  margin-left: 0px;
  padding-bottom: 8px;
  cursor: pointer;
  border: 1px solid #222222;
  padding-right: 15px;

  /* margin-right: 10px; */
}

.pb-block {
  display: flex;
  flex-direction: column;
}
