
/* MAIN CONTAINER */
.cat-page-main-cont{
    font-family: ui-sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-left:40px;
    margin-right:40px;
    margin-top: 40px;

}



.tile-main-cont {

    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 768px) {
    .tile-main-cont {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-top: 0px;
      margin-bottom: 40px;
    }
  }
  .cat-sqr-img {
    height: 150px;
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }
  .cat-sqr-img:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(234, 151, 253,.8);
    overflow: auto;
  }
  /*  *******

  /*  TILE CONTAINER   */
  .single-tile {

    display: flex;
    flex-direction: column;
    gap: 12px;
  }


 /*  *******



/* HEART CONTAINER  */
.cat-heart-button {
    display: flex;
    flex-direction: center;
    justify-content: center;
    padding: 1px;
    width: 0.5px;
    height: 0.5px;
    border-radius: 100%;
    background-color: white;
    padding: 20px;
    cursor: pointer;
  }
  .single-tile > .cat-heart-button {
    position: relative;
    top: 23%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 3px 5px #e68cfc;
  }

  .cat-filled-heart {
    color: #d3012f;
  }

  .cat-heart-button > i {
    size: 1px;
  }

  /*  *******

/* PRICE CONTAINER  */
  .cat-price-cont{
    font-weight:400
  }

/*  *******

/* PRICE CONTAINER  */
.cat-shipping-cont{
    display: flex;
    justify-content: center;
    font-size: 12px;
    background-color:#e68cfc;
    padding:5px;
    border-radius:40px;
    width:90px

}

/*  *******

/* SELLER CONT */
.cat-seller-cont{
    color:#9e9e9d;
}
/*  *******
/* TITLE CONTAINER*/
.cat-head-cont{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 200;
}

/*  *******
